media/*
storage/*
.bash*
.profile*
.ssh*
.vim*
downloads/*
.gitconfig
*.log
.DS_Store
.env
flexget/*.sqlite
flexget/cached*
transmission/dht.dat
transmission/stats.json
transmission/torrents/*
transmission/resume/*
*lock*